asgiref==3.9.2
Django==5.2.6
djangorestframework==3.16.1
dotenv==0.9.9
numpy==2.3.3
pandas==2.3.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
agents==1.0.0
openai==1.58.1
